In [1]:
# Imports
import pandas as pd
import requests, json, time, datetime
import praw

In [20]:
# My Reddit credentials
red_creds = {
    
    'id': 'N/A',
    'secret': 'N/A',
    'user': 'N/A',
    'pass': 'N/A'
}

In [21]:
# Create JSON dictionary from credentials
json.dumps(red_creds)

'{"id": "N/A", "secret": "N/A", "user": "N/A", "pass": "N/A"}'

In [4]:
# Write credentials to file as a JSON string
with open('red_creds.json', 'w+') as file:
    file.write(json.dumps(red_creds))

In [5]:
# List all files including hidden files
#!ls -a

In [6]:
# Read credentials from file
red_cred_file = open('red_creds.json', 'r')
reddit_credentials = json.loads(red_cred_file.read())

In [7]:
# Instantiate Reddit class via credentials
reddit = praw.Reddit(
    
    client_id = reddit_credentials['id'],
    client_secret = reddit_credentials['secret'],
    username = reddit_credentials['user'],
    password = reddit_credentials['pass'],
    user_agent = 'anthony'
)

In [9]:
# Returns the age of a post given its post time
def age(post_time):
    return (time.time() - post_time) / 60

In [12]:
# Create a custom function that takes in a string and outputs a dataframe containing 1000 threads
def get_batch(name):
    
    data = reddit.subreddit(name) # Returns a list of posts found in the input subreddit
    roof = [i for i in data.hot(limit=1000)] # Constructs a list via list comprehension to hold the first 1000 posts
    tip = roof[0] # The first post in the subreddit
    
    titles = [thread.title for thread in roof]
    activity = [thread.num_comments for thread in roof] 
    ages = [age(thread.created_utc) for thread in roof]
    sub_name = [name for thread in roof] 
    
    thread_dict = {
        
        'title': titles,
        'comments': activity,
        'age': ages,
        'thread': sub_name
    }
    
    return pd.DataFrame(thread_dict)

In [13]:
# Create two DataFrames from above function
rock = get_batch('rock')
rap = get_batch('rap')

In [14]:
# Show the first few rows of rock data
rock.head()

,title,comments,age,thread
0,Funkadelic - Maggot Brain,16,841.220417,rock
1,Motorhead - We Are Motorhead (Live Germany 2004),0,289.603750,rock
2,Which bands do you prefer?,5,125.553750,rock
3,Anyone with a special affinity towards lengthi...,12,654.987084,rock
4,Jebediah - “Jerks Of Attention” (1997),0,181.837084,rock

In [15]:
# Show the first few rows of rap data
rap.head()

,title,comments,age,thread
0,Kodak v. Corona,13,632.171650,rap
1,Had to put it out there,25,1742.321650,rap
2,Is this the fastest someone can rap while bein...,0,85.088317,rap
3,Amazon Echo: Tyga Edition,0,236.021650,rap
4,I would like to see who would win 20 hits for ...,1,92.321650,rap

In [18]:
# Find the size of each subreddit dataframe
print(rock.shape)
print(rap.shape)

(993, 4)
(996, 4)

In [17]:
# Find the data types of each dataframe
print(rock.dtypes)
print()
print(rap.dtypes)

title        object
comments      int64
age         float64
thread       object
dtype: object

title        object
comments      int64
age         float64
thread       object
dtype: object

The code below was only ran once; the files 'rock.csv' and 'rap.csv' contain the original data used for this project. The data contained within the above dataframes was only pulled to make sure my code ran with no errors.

In [19]:
# Create .csv files for two subreddits
rock.to_csv('./data/rock_round2.csv', index=False)
rap.to_csv('./data/rap_round2.csv', index=False)